		#abs1{
			position: absolute;
			width: 400px;
			left: -70px;
			top: -20px;	
		}
		#abs2{
			position: absolute;
			width: 380px;
			left: 280px;
			top: -10px;	
		}
		#abs3{
			position: absolute;
			width: 400px;
			left: -80px;
			top: 400px;	
		}
		#abs4{
			position: absolute;
			width: 400px;
			left: 300px;
			top: 400px;	
		}
		#abs5{
			position: absolute;
			left: 180px;
			top: 90px;	
		}	
		#abs6{
			position: absolute;
			left: 520px;
			top: 110px;	
		}	
		#abs7{
			position: absolute;
			left: 180px;
			top: 700px;	
		}	
		#abs8{
			position: absolute;
			left: 550px;
			top: 515px;	
		}