		#abs1{
			position: absolute;
			width: 385px;
			left: -80px;
			top: -30px;	
		}
		#abs2{
			position: absolute;
			width: 400px;
			left: 280px;
			top: -10px;	
		}
		#abs3{
			position: absolute;
			width: 410px;
			left: -100px;
			top: 420px;	
		}
		#abs4{
			position: absolute;
			width: 400px;
			left: 300px;
			top: 400px;	
		}
		#abs5{
			position: absolute;
			left: 180px;
			top: 100px;	
		}	
		#abs6{
			position: absolute;
			left: 520px;
			top: 110px;	
		}	
		#abs7{
			position: absolute;
			left: 190px;
			top: 710px;	
		}	
		#abs8{
			position: absolute;
			left: 560px;
			top: 515px;	
		}